PORT=8080
DB_USER="ADMIN"
DB_PASSWORD="Ananrollona2021*"
DB_CONNECTION_STRING="gestionbd_high"
WALLET_PATH="C:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-GBD-MPETrackSystem\Wallet_GestionBD"

# Email Config
EMAIL_USER=asesoriastramitesmpe@gmail.com
EMAIL_PASS=mgrk dhbu hkxc mcjq

# Supabase Config
SUPABASE_URL=https://pqmjklkrbdeyluwduojs.supabase.co
SUPABASE_KEY=sb_publishable_PAukwITytGc2mkQ5BBHCFA_utzwmBVB